# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.last-run.json
trace.zip
test-results
coverage
*.bak
.crush*
node_modules
dist
dist-ssr
*.local
.env
.gh*

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignored for the template, you probably want to remove it:
